@tailwind base; @tailwind components; @tailwind utilities;
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.active{
  border-width: 2px 2px 2px;
  border-style: dashed;
  border-color: white;
  box-shadow: 10px 10px 20px -5px rgba(230,18,50,1);
  scale: 1.25;
}
